<%- include("parcials/header.ejs")%>
<ul class="list-group">
    <li class="list-group-item list-group-item-primary">Nombre</li>
    <li class="list-group-item list-group-item-primary">IdFactura</li>
    <li class="list-group-item list-group-item-primary">Producto</li>
    <li class="list-group-item list-group-item-primary">Precio</li>
    <li class="list-group-item list-group-item-primary">Monto</li>
    <li class="list-group-item list-group-item-primary">Fecha</li>
  </ul>